@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #D9D9D9;
}

.bg-gradient{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #3E2260;
    background: linear-gradient(rgba(62, 34, 96, 1), rgba(80, 48, 96, 1), rgba(48, 14, 84, 1), rgba(36, 18, 56, 1), rgba(16, 6, 32, 1));
}