.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-left: -100px;
  margin-bottom: 170px;
}

.card {
  width: 510px;
  height: 186.51px;
  background-color: #2c1e3f;
  border-radius: 0px 23.31px 23.31px 23.31px;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.card-icon-img {
  width: 32.06px;
  height: 26.23px;
  object-fit: contain;
  flex-shrink: 0;
}

.card-title {
  font-size: 34.97px;
  font-weight: 700;
  margin: 0;
}

.card-description {
  font-size: 20.4px;
  line-height: 1.5;
  color: #d1d1d1;
  margin: 0;
}